#limited-time-offers {
  inline-size: 100%;
  max-inline-size: 90rem;
  position: relative;
}

#limited-time-offers .heading {
  display: flex;
  justify-content: center;
  align-items: center;
  inline-size: 100%;
  background-color: var(--ut-orange);
}

#limited-time-offers .heading i {
  padding-inline-end: 0.5rem;
}

#limited-time-offers h4 {
  font-weight: 700;
  text-transform: uppercase;
  padding-block: 2.5rem;
}

#limited-time-offers .product-container {
  position: relative;
  block-size: 15rem;
  margin: 0.5rem;
  padding: 1rem;
  border-radius: 0.313rem;
  background-color: var(--prussian-blue);
  color: white;
}

#limited-time-offers .product .top-elements {
  display: flex;
  margin-block-end: 1rem;
}

#limited-time-offers .product .discount {
  margin-inline-end: auto;
}

#limited-time-offers .product .discount p {
  background-color: var(--selective-yellow);
  color: black;
  border-radius: 0.5rem;
  padding: 0.3rem;
}

#limited-time-offers .product .discount p i {
  padding-inline-end: 0.3rem;
}

#limited-time-offers .product .actions {
  text-align: right;
}

#limited-time-offers .product .actions i {
  padding-inline: 0.3rem;
  padding-block-end: 1rem;
  font-size: 1.2rem;
}

#limited-time-offers .product .details-container {
  display: flex;
}

#limited-time-offers .product .details {
  padding-inline-end: 1rem;
}

#limited-time-offers .product .details img {
  inline-size: 7rem;
  block-size: 5.75rem;
}

#limited-time-offers .product .text-details h3 {
  font-size: 0.8rem;
  margin-block-end: 0.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  word-wrap: nowrap;
  block-size: 3rem;
}

#limited-time-offers .product .text-details small {
  text-decoration: line-through;
  color: lightgrey;
}

#limited-time-offers .product .text-details h4 {
  font-size: 1.3rem;
  padding: 0 0 1rem 0;
}

#limited-time-offers .product .text-details #new-price {
  font-weight: 700;
  color: var(--ut-orange);
}

#limited-time-offers .product .remaining-time {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translateX(-50%);
  inline-size: 80%;
  text-transform: uppercase;
  text-align: center;
  background-color: var(--selective-yellow);
  color: black;
  margin-block-start: 1rem;
  padding: 0.5rem;
}

#limited-time-offers .product:hover {
  cursor: pointer;
}

#limited-time-offers .product a {
  color: white;
}

#limited-time-offers .product a:hover {
  color: var(--selective-yellow);
}

#limited-time-offers .button-container {
  display: flex;
  margin-block: 1rem;
}

#limited-time-offers button {
  inline-size: 3rem;
  block-size: 3rem;
  border-radius: 0.313rem;
  inline-size: 50%;
  margin-inline: 0.5rem;
  background-color: lightgrey;
  border-color: lightgrey;
}

#limited-time-offers button i {
  font-size: 1.3rem;
}

#limited-time-offers button:hover {
  cursor: pointer;
  font-weight: 700;
  background-color: var(--selective-yellow);
  opacity: 1;
}

#limited-time-offers #show-all {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  margin-block: 2.5rem;
  color: var(--prussian-blue);
}

#limited-time-offers #show-all i {
  vertical-align: middle;
  padding-inline-end: 0.3rem;
}

#limited-time-offers #show-all:hover {
  cursor: pointer;
  font-weight: 700;
}

.modal-background {
  position: fixed;
  top: 0;
  left: 0;
  inline-size: 100%;
  block-size: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 100000;
}

.modal-content {
  inline-size: 80%;
  max-inline-size: 31.25rem;
  z-index: 100000;
  text-align: center;
}

.modal-content img {
  inline-size: 100%;
  block-size: auto;
}

.close-button {
  margin-block-start: 1rem;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
  color: black;
  text-transform: uppercase;
}

@media (min-width: 480px) {
  #limited-time-offers .product-container {
    block-size: 16.75rem;
  }

  #limited-time-offers .product .details img {
    inline-size: 9rem;
    block-size: 6.75rem;
  }

  #limited-time-offers .product .text-details h3 {
    block-size: 3rem;
  }
}

@media (min-width: 1024px) {
  #limited-time-offers .product-container {
    block-size: 18.75rem;
  }
}
