#register-page-header {
  background-color: transparent;
  justify-content: left;
  padding: 1.5rem 0.5rem 1rem 0.5rem;
  block-size: 0;
}

.back-link {
  display: inline-block;
  color: var(--ut-orange);
  text-decoration: none;
}

.back-link i {
  padding-inline-end: 0.4rem;
}

.register-page {
  inline-size: 100%;
  max-inline-size: 37.5rem;
  margin: 0 auto;
  padding: 1.25rem;
}

#register-form {
  background-color: #f8f9fa;
  padding: 1.25rem;
  border-radius: 0.313rem;
}

#register-form h2 {
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.2);
  margin-block-end: 2rem;
  text-align: center;
}

#register-form h2:not(#register-form h2:first-child) {
  margin-block-start: 2rem;
}

.form-group {
  margin-bottom: 0.938rem;
}

.form-group label {
  display: block;
  margin-bottom: 0.313rem;
}

.form-group input {
  width: 100%;
  padding: 0.625rem;
  border-radius: 0.313rem;
  border: 0.063rem solid var(--sky-blue);
  box-shadow: 0 0 0.313rem rgba(0, 123, 255, 0.5);
  transition: border-color 0.3s box-shadow 0.3s;
}

.form-group input:focus {
  outline: none;
  border-color: #0056b3;
  box-shadow: 0 0 0.625rem var(--prussian-blue);
}

.register-page button {
  text-transform: uppercase;
  margin-block-start: 3rem;
  inline-size: 100%;
  padding: 1rem;
  background-color: var(--prussian-blue);
  color: white;
}

.register-page button:hover {
  cursor: pointer;
  font-weight: 700;
}

.error-message {
  padding: 0.5rem;
  margin: 1rem;
  background-color: red;
  color: white;
}
